pipeline/GetDataFromSQLServer.json
{
	"name": "GetDataFromSQLServer",
	"properties": {
		"activities": [
			{
				"name": "SettotalPages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetTotalTableCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TotalPages",
					"value": {
						"value": "@div(add(int(activity('GetTotalTableCount').output.firstRow.TotalTables), sub(pipeline().parameters.PageSize, 1)), pipeline().parameters.PageSize)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetTotalTableCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS TotalTables\nFROM sys.tables t\nJOIN sys.schemas s ON t.schema_id = s.schema_id\nWHERE s.name = 'dbo'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "batchmigrationToSQL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEachPage",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SettotalPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1, add(variables('totalPages'), 1))\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ExecuteProcessPagePipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ProcessPagePipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PageSize": 5000
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PageSize": {
				"type": "int",
				"defaultValue": 5000
			}
		},
		"variables": {
			"TotalPages": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}